*{
    box-sizing:border-box;
}
h1, h2, h3, h4, h5{
    margin:none;
}
body{

    max-width:1200px;
    margin:20px auto;
    padding:20px;

}
button{
    background-color: white;
    border:none;
    cursor:pointer;
}
